@model IEnumerable<MvcPL.Areas.Administrator.Models.GridTeacherModel>
@section Header{
    @{ViewBag.Title = "Teachers";}
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>
                @Ajax.AdminMenuCreateLink("Create", "Teacher", new AjaxOptions
           {
               Url = Url.Action("Create", new { area = "Administrator", Controller = "Teacher" })
           })
            </li>
            <li>
                @Ajax.ActionLink("Assign Role", "AssignRole", new { area = "Administrator", controller = "Teacher" }, new AjaxOptions()
           {
               UpdateTargetId = "informational",
               LoadingElementId = "loading",
               Url = Url.Action("AssignRole", new { area = "Administrator", Controller = "Teacher" })
           })
            </li>
        </ul>
    </div>
}
@section Body{
    <h2>All Teachers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayNameFor(model => model.Surname)
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Surname)
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Ajax.AdminMenuMainLink("Detail", "Detail", "Teacher", item.IdUser, new AjaxOptions
                {
                    Url = Url.Action("Detail", new {area = "Administrator", Controller = "Teacher", id = item.IdUser})
                })
            </td>
            <td>
                @Ajax.AdminMenuMainLink("Delete", "Delete", "Teacher", item.IdUser, new AjaxOptions
                {
                    Url = Url.Action("Delete", new {area = "Administrator", Controller = "Teacher", id = item.IdUser})
                })
            </td>
            <td>
                @Ajax.AdminMenuMainLink("To Class", "Detail", "Teacher", item.IdUser, new AjaxOptions
                {
                    Url = Url.Action("Detail", new { area = "Administrator", Controller = "Teacher", id = item.IdUser })
                })
            </td>
            <td>
                @{
                    Html.RenderPartial("_ClassRoom", item.ClassRoom);
                }
            </td>
        </tr>
                    }
</table>
}


