@using MvcPL.Infrastructure
@model IEnumerable<MvcPL.Models.RoleModel>

@section Header{
    @{ViewBag.Title = "Roles";}
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("Create new role", "Create")</li>

        </ul>
    </div>
}

@section Body{
    @{
        var grid = new WebGrid(Model);
    }

    <div class="row">
        <div class="col-md-8">
            @grid.GetHtml(tableStyle: "table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",

    columns: grid.Columns(
        grid.Column(columnName: "RoleName", header: "Role"),
                grid.Column(format: (item) =>
                {
                    var link = Ajax.ActionLink("Edit", "Edit", new { area = "Administrator", Controller = "Role", id = item.Id }, new AjaxOptions()
                    {
                        UpdateTargetId = "text-muted",
                        Url = Url.Action("Edit", new { area = "Administrator", Controller = "Role" })
                    });
                    return link;
                }),
                grid.Column(format: item => item.GetSelectLink("Details")),
                grid.Column(format: (item) =>
                {
                    var link = Ajax.ActionLink("Delete", "Delete", new { area = "Administrator", Controller = "Role", id = item.Id }, new AjaxOptions
                    {
                        UpdateTargetId = "text-muted",
                        Url = Url.Action("Delete", new { area = "Administrator", Controller = "Role" })
                    });
                    return link;
                })
    ))

        </div>
        <div class="col col-sm-4">
            <h3>Your Selected Role</h3>
            <div class="text-muted">
                @if (grid.HasSelection)
                {
                    var role = (MvcPL.Models.RoleModel)grid.Rows[grid.SelectedIndex].Value;
                    <p><b>Role:</b> @role.RoleName</p>
                    <b>
                        @Ajax.ActionLink("Delete", "Delete", new { area = "Administrator", Controller = "Role", id = role.Id }, new AjaxOptions()
                  {
                      UpdateTargetId = "text-muted",
                      Url = Url.Action("Delete", new { area = "Administrator", Controller = "Role" })
                  }) |
                    @Ajax.ActionLink("Edit", "Edit", new { area = "Administrator", Controller = "Role", id = role.Id }, new AjaxOptions()
           {
               UpdateTargetId = "text-muted",
               Url = Url.Action("Edit", new { area = "Administrator", Controller = "Role" })
           })
                </b>
                }
            </div>
        </div>
    </div>
}