<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div class="site-header">
        <div class="main-navigation">
            <div class="responsive_menu">
                <ul>
                    <li>
                        @Ajax.ActionLink(" Home", "Index", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Index", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-home active" })
                    </li>
                    <li>
                        @Ajax.ActionLink(" About school", "AboutSchool", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("AboutSchool", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-users" })
                    </li>
                    <li>
                        @Ajax.ActionLink(" Contacts", "Contacts", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Contacts", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-envelope" })
                    </li>
                    <li>
                        @Ajax.ActionLink(" Requisition", "Requisition", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Requisition", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-pencil" })
                        @*@Html.ActionLink(" Requisition", "Requisition", new { area = "", Controller = "Home" }, new { @class = "fa fa-pencil"})*@
                    </li>
                    <li>
                        @Ajax.ActionLink(" Login", "Login", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Login", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-user" })
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row templatemo_gallerygap">
                    <div class="col-md-12 responsive-menu">
                        <a href="#" class="menu-toggle-btn">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div> <!-- /.col-md-12 -->
                    <div class="col-md-3 col-sm-12">
                        <a href="#"><img src="/images/soym_logo.png" alt="Polygon HTML5 Template" /></a>
                    </div>
                    <div class="col-md-9 main_menu">
                        <ul>
                            <li>
                                @Ajax.ActionLink(" Home", "Index", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Index", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-home active" })
                            </li>
                            <li>
                                @Ajax.ActionLink(" About school", "AboutSchool", new { area = "", Controller = "Home" }, new AjaxOptions()
                            {
                                UpdateTargetId = "instruction",
                                Url = Url.Action("AboutSchool", new { area = "", Controller = "Home" })
                            }, new { @class = "fa fa-users" })
                            </li>
                            <li>
                                @Ajax.ActionLink(" Contacts", "Contacts", new {area = "", Controller = "Home"}, new AjaxOptions()
                                {
                                    UpdateTargetId = "instruction",
                                    Url = Url.Action("Contacts", new {area = "", Controller = "Home"})
                                }, new {@class = "fa fa-envelope"})
                            </li>
                            <li>
                                @Ajax.ActionLink(" Requisition", "Requisition", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Requisition", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-pencil" })
                                @*@Html.ActionLink(" Requisition", "Requisition", new { area = "", Controller = "Home" }, new { @class = "fa fa-pencil"})*@
                            </li>
                            <li>
                                @Ajax.ActionLink(" Login", "Login", new { area = "", Controller = "Home" }, new AjaxOptions()
                           {
                               UpdateTargetId = "instruction",
                               Url = Url.Action("Login", new { area = "", Controller = "Home" })
                           }, new { @class = "fa fa-user" })
                            </li>
                        </ul>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-navigation -->
    </div> <!-- /.site-header -->

    <div class="panel-wrapper">
        <div class="container" id="instruction">
            <div class="row template_form">
                @RenderBody()
            </div>
        </div>
    </div>

    
        <div class="templatemo_footer navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <span>Copyright &copy; Kak-to tak</span>
                    </div>
                    <div class="col-md-3 col-sm-12 templatemo_rfooter">
                        <a href="#">
                            <div class="hex_footer">
                                <span class="fa fa-facebook"></span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hex_footer">
                                <span class="fa fa-twitter"></span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hex_footer">
                                <span class="fa fa-linkedin"></span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hex_footer">
                                <span class="fa fa-rss"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
