@model MvcPL.Models.PupilModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolTeacherSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolTeacherSurname)
        </dd>

    </dl>
</div>

