@using MvcPL.Infrastructure
@model MvcPL.Models.UserModel
@section Header{
    @{ViewBag.Title = "Detail user";}
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("Back to create.", "DetailsCreateUser")</li>
            <li>@Html.ActionLink("Add email", "AddEmail", new { idUser = Model.Id })</li>
        </ul>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Add Role
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul class="nav nav-stacked">
                            <li>@Html.ActionLink("Administrator", "AddRoleUserLink", new { role = "Administrator", idUser = Model.Id })</li>
                            <li>@Html.ActionLink("Teacher", "AddTeacher", new { idUser = Model.Id })</li>
                            <li>@Html.ActionLink("Pupil", "AddPupil", new { idUser = Model.Id })</li>
                            <li>@Html.ActionLink("Parent", "AddParent", new { idUser = Model.Id })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/acc-->
    </div>
}

@section Body{
    <h2>Details Create User</h2>
   
@ViewBag.InfoMassage
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Housing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Housing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

    </dl>
</div>
    

}