@model IEnumerable<MvcPL.Models.RequisitionModel>
@section Header{

    @{
        ViewBag.Title = "Requisition";
    }
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("Create new Requisition", "Create")</li>
        </ul>
    </div>
}

@section Body{
    @{
        var grid = new WebGrid(Model);
    }
    <h2>Requisition</h2>

    <div class="row">
        <div class="col-md-8">
            @grid.GetHtml(tableStyle: "table",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",

    columns: grid.Columns(
        grid.Column(columnName: "Surname", header: "Surname"),
        grid.Column(columnName: "Name", header: "Name"),
        grid.Column(columnName: "City", header: "City"),
        grid.Column(columnName: "Street", header: "Street"),
        grid.Column(columnName: "Hous", header: "Hous"),
                grid.Column(format: (item) =>
                {
                    var link = Ajax.ActionLink("Edit", "Edit", new { area = "Administrator", Controller = "Requisition", id = item.Id }, new AjaxOptions()
                    {
                        UpdateTargetId = "text-muted",
                        Url = Url.Action("Edit", new { area = "Administrator", Controller = "Requisition" })
                    });
                    return link;
                }),
                grid.Column(format: item => item.GetSelectLink("Details")),
                grid.Column(format: (item) =>
                {
                    var link = Ajax.ActionLink("Delete", "Delete", new { area = "Administrator", Controller = "Requisition", id = item.Id }, new AjaxOptions
                    {
                        UpdateTargetId = "text-muted",
                        Url = Url.Action("Delete", new { area = "Administrator", Controller = "Requisition" })
                    });
                    return link;
                }),

                grid.Column(format: (item) =>
                {
                    var link = Html.ActionLink("Registration", "Registration", new { area = "Administrator", Controller = "Requisition", id = item.Id });
                    return link;
                })
    ))

        </div>
        <div class="col col-sm-4">
            <h3>Your Selected Requisition</h3>
            <div class="text-muted">
                @if (grid.HasSelection)
                {
                    var requisition = (MvcPL.Models.RequisitionModel)grid.Rows[grid.SelectedIndex].Value;
                    <p><b></b> @requisition.Name</p>
                    <p><b></b> @requisition.Surname</p>
                    <p><b></b> @requisition.Patronymic</p>
                    <p><b></b> @requisition.BirthDay.ToString()</p>
                    <p><b></b> @requisition.City</p>
                    <p><b></b> @requisition.District</p>
                    <p><b></b> @requisition.Street</p>
                    <p><b></b> @requisition.Hous</p>
                    <p><b></b> @requisition.Housing</p>
                    <p><b></b> @requisition.Flat</p>
                    <p><b></b> @requisition.Postcode</p>
                    <b>
                        @Ajax.ActionLink("Delete", "Delete", new { area = "Administrator", Controller = "Requisition", id = requisition.Id }, new AjaxOptions
                   {
                       UpdateTargetId = "text-muted",
                       Url = Url.Action("Delete", new { area = "Administrator", Controller = "Requisition" })
                   }) |
                        @Ajax.ActionLink("Edit", "Edit", new { area = "Administrator", Controller = "Requisition", id = requisition.Id }, ajaxOptions: new AjaxOptions
                   {
                       UpdateTargetId = "text-muted",
                       Url = Url.Action("Edit", new { area = "Administrator", Controller = "Requisition" })
                   }) |
                        @Ajax.ActionLink("Registration", "Registration", new { area = "Administrator", Controller = "Requisition", id = requisition.Id }, new AjaxOptions
                   {
                       UpdateTargetId = "text-muted",
                       Url = Url.Action("Registration", new { area = "Administrator", Controller = "Requisition" })
                   })
                    </b>
                }
            </div>
        </div>
    </div>
}