@section Header{
    @{
        ViewBag.Title = "Index Administrator";
    }
}

@section LeftMenu{
    <div class="panel-body">
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("Administrators", "Home", "Home")</li>
            <li>@Html.ActionLink("Teachers", "Index", "Teacher")</li>
            <li>@Html.ActionLink("Pupils", "Index", "Pupil")</li>
            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
            <li>@Html.ActionLink("Comments", "Index", "Home")</li>
            <li>@Html.ActionLink("Classrooms", "Index", "ClassRoom")</li>
        </ul>
    </div>
}

@section Body{

    <h2>Index</h2>
}
